.container {
    display: flex;
    justify-content: center;
    align-items: top;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    margin: 0pc;
    background-color: rgb(17 17 17);
}

.child {
    height: 500px;
    width: 500px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    font-family: 'Varela Round', sans-serif;
}

body {
    margin: 0px;
}

.child h1 {
    font-size: 60pt;
    color:rgb(255, 0, 76);
    text-shadow: 0 0 100px  rgb(255, 0, 76); 
}

.child p {
    color: rgb(255, 225, 234);
    font-size: 12px;
    text-shadow: 0 0 50px rgb(255, 0, 76);
}